:root {
  // accent
  --color-accent-50: #e6f2e6;
  --color-accent-100: #abd6ac;
  --color-accent-200: #88c289;
  --color-accent-300: #6bb26d;
  --color-accent-400: #53a655;
  --color-accent-500: #41a143;
  --color-accent-600: #338035;
  --color-accent-700: #29662a;
  --color-accent-800: #1f4d20;
  --color-accent-900: #0b260c;

  // success
  --color-success-50: #e4f7e6;
  --color-success-100: #c9f2cf;
  --color-success-200: #adedb6;
  --color-success-300: #95ea80;
  --color-success-400: #73e583;
  --color-success-500: #5ce56f;
  --color-success-600: #4dbf5c;
  --color-success-700: #3d994a;
  --color-success-800: #2e7337;
  --color-success-900: #1f4d25;

  // warning
  --color-warning-50: #faf2e1;
  --color-warning-100: #f7e7c6;
  --color-warning-200: #f2d7a0;
  --color-warning-300: #edc677;
  --color-warning-400: #e5b450;
  --color-warning-500: #e5ab2d;
  --color-warning-600: #bf8c26;
  --color-warning-700: #99701e;
  --color-warning-800: #735417;
  --color-warning-900: #4d380f;

  // danger
  --color-danger-50: #fae6e6;
  --color-danger-100: #f7dcdc;
  --color-danger-200: #f5a9a9;
  --color-danger-300: #eb8383;
  --color-danger-400: #e56363;
  --color-danger-500: #e54545;
  --color-danger-600: #bf3939;
  --color-danger-700: #992e2e;
  --color-danger-800: #732222;
  --color-danger-900: #4d1717;

  // info
  --color-info-50: #eaf2f5;
  --color-info-100: #cde1f7;
  --color-info-200: #a9ccf5;
  --color-info-300: #83bbeb;
  --color-info-400: #639fe5;
  --color-info-450: rgb(56 191 242);
  --color-info-500: #468ef5;
  --color-info-600: #3a77bf;
  --color-info-700: #2f6099;
  --color-info-800: #234873;
  --color-info-900: #17304d;

  // gray
  --color-gray-50: #f2f2f2;
  --color-gray-100: #e6e6e6;
  --color-gray-200: #d6d6d6;
  --color-gray-300: #bdbdbd;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #8a8a8a;
  --color-gray-600: #707070;
  --color-gray-700: #575757;
  --color-gray-800: #404040;
  --color-gray-900: #262626;

  // light
  --color-light-100: #fff;
  --color-light-300: #fafafa;
  --color-light-500: #f4f2fa;
  --color-light-700: #dcdae0;
  --color-light-900: #c3c1c7;

  // dark
  --color-dark-100: #808080;
  --color-dark-300: #4c4c4c;
  --color-dark-500: #4c4c4c;
  --color-dark-600: #161616;
  --color-dark-650: rgb(34 37 59);
  --color-dark-700: #1a1a1a;
  --color-dark-900: #191919;

  // it-quiz-colors
  --color-light-main: #fff;
  --color-bg-main: #eaf2f5;
  --color-font-main: #22253b;
  --color-font-main-rgb: 34, 37, 59, 0.5;
  --color-accent-main: #38bff2;
  --color-accent-main-rgb: rgba(56 191 242 / 20%);
  --color-success-main: #1fec57;
  --color-fail-main: #e44040;
  --color-hollow-main: #c4c4c4;
}
