html {
  font-size: 16px; // размер шрифта для экранов fullHd

  @media (width >= 1920px) {
    font-size: 18px; // размер шрифта для экранов 2k
  }

  @media (width >= 2560px) {
    font-size: 20px; // размер шрифта для экранов 4k
  }
}
