// CSS-переменные (var(--desktop)) не могут быть использованы напрямую в медиа-запросах.
// Это ограничение CSS, а не Sass. Медиа-запросы вычисляются на этапе компиляции,
// а CSS-переменные - во время выполнения в браузере.
// поэтому используем SCSS переменные

$desktop: 64rem;
$mobile: 48rem;

@mixin container {
  width: 100%;
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 2.5rem;

  @media (width <= $desktop) {
    max-width: $desktop;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  @media (width <= $mobile) {
    max-width: $mobile;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

@mixin tab-navigation {
  &:focus-visible {
    outline: revert;
  }
}

@mixin pagination-button {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.8rem;
  height: 1.8rem;
  padding-top: 0.1rem;
  border: 0.05rem solid rgb(var(--color-font-main-rgb));
  border-radius: 0.4rem;

  font-size: var(--font-size-s);
  line-height: var(--line-height-s);

  &:focus-visible {
    outline: revert;
  }

  &:hover {
    background-color: var(--color-accent-main-rgb);
  }
}
