@mixin container {
  width: 100%;
  max-width: var(--desktop);
  margin: 0 auto;
  padding: 0 2.5rem;

  background-color: orange;

  @media (width <= var(--desktop)) {
    max-width: var(--desktop);
    margin: 0 auto;
    padding: 0 1.5rem;
    background-color: greenyellow;
  }

  @media (width <= var(--mobile)) {
    max-width: var(--mobile);
    margin: 0 auto;
    padding: 0 1rem;
    background-color: #3a77bf;
  }
}
