.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 87.5rem;


  & > div {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  & > div > h2 {
    @media (width <= 860px) {
      font-size: 1.75rem !important;
    }
  }

  .logoImage {
    @media (width <= 860px) {
      width: 10rem;
    }
  }

  @media (width <= 860px) {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

