.header {
  width: 100%;
  max-width: 87.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 860px) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  & > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  & > div > h1 {
    @media (max-width: 860px) {
      font-size: 1.75rem !important;
    }
  }
}
.logoImage {
  @media (max-width: 860px) {
    width: 10rem;
  }
}
