.container {
  display: flex;
  justify-content: center;

  height: 100%;
  padding-bottom: 2rem;

  background-color: var(--color-info-50);
}

.contentBlock {
  display: flex;
  flex-direction: column;
  gap: 4.8125rem;
  align-items: center;

  width: 100%;
  max-width: 87.5rem;
  padding: 0.75rem 12.5rem;

  background-color: var(--color-info-50);
}

.header {
  display: flex;
  justify-content: right;
  width: 100%;

  & > div {
    display: flex;
    gap: 2.37rem;
  }
}

.title {
  display: flex;
  gap: 1.375rem;
  align-items: center;
  width: 100%;

  & > div {
    width: 100%;
    height: 0.0625rem;
    background-color: var(--color-dark-650);
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2.75rem 4.625rem;

  max-width: 100%;
}

.category {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 11.75rem;
  height: 5.6875rem;
  border: 2px solid var(--color-info-450);
  border-radius: 0.625rem;

  text-align: center;

  background-color: var(--color-light-100);
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid var(--color-dark-650);
}
