@use '../../app/styles/mixins' as mixin;

.contentBlock {
  @include mixin.content-block;
}

.title {
  display: flex;
  gap: 1.375rem;
  align-items: center;
  width: 100%;

  & > div {
    width: 100%;
    height: 0.0625rem;
    background-color: var(--color-dark-650);
  }

  & > h1 {
    @media (width <= 860px) {
      font-size: 1.75rem;
    }
  }
}

// .categories {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//   gap: 2.75rem 4.625rem;
//   max-width: 100%;
// }

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 2.75rem 4.625rem;
  justify-content: center;
}

.category {
  cursor: pointer;

  width: 11.75rem;
  height: 5.6875rem;
  border: 2px solid var(--color-info-450);
  border-radius: 0.625rem;

  background-color: var(--color-light-100);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 0.625rem;

  text-align: center;
}

.keyboard {
  @media (width <= 450px) {
    display: block;
    width: 16rem;
    height: 16rem;
  }
}
