@import '../../../app/styles/mixins';

.root {
  @include container;

  width: var(--mobile);
  margin-top: 100px;
  padding-top: 20px;
}

.list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;

  font-size: var(--font-size-m);
  color: #070ab9;
}

.item {
  text-align: center;
}
