.counter {
  margin-bottom: 0.8rem;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.list {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 1rem;
}

.circle {
  display: block;

  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;

  background-color: var(--color-hollow-main);

  &Correct {
    background-color: var(--color-success-main);
  }

  &Incorrect {
    background-color: var(--color-fail-main);
  }

  &Active {
    outline: 0.25rem solid var(--color-accent-main);
  }
}
