.title {
  display: flex;
  gap: 1.375rem;
  align-items: center;
  width: 100%;

  & > div {
    width: 100%;
    height: 0.0625rem;
    background-color: var(--color-dark-650);
  }

  & > h1 {
    @media (width <= 860px) {
      font-size: 1.75rem;
    }
  }
}
