@mixin item {
  all: unset;

  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.25rem;
  height: 2.25rem;

  background-color: var(--DARK-500);
  border: 1px solid var(--LIGHT-700);
  border-radius: 0.25rem;
}

.item {
  @include item;

  cursor: pointer;

  &:focus-visible {
    outline: 0.125rem solid var(--ACCENT-500);
  }

  &:disabled {
    cursor: initial;
    color: var(--DARK-100);
    opacity: 1;
  }

  &:hover:not(&:disabled) {
    outline: 0.125rem solid var(--ACCENT-500);
  }

  &.selected {
    color: var(--DARK-900) !important;
    background-color: var(--ACCENT-900);

    & * {
      color: var(--DARK-900);
    }
  }
}

.dots {
  @include item;

  background-color: inherit;
  border: none;
}

.arrow {
  background-color: inherit;
  border: none;

  &:disabled {
    cursor: initial;
    color: var(--LIGHT-100-10);
    opacity: 1;
  }
}
